h2 {
  color: #333;
}

table > thead th {
  padding: 0.2rem 1rem;
  background-color: #333;
  color: #fff;
  font-weight: normal;
}

table > tbody td {
  padding: 0.5rem 1rem;
  border-bottom: solid 1px #333;
}

button {
  background-color: #666;
  color: #fff;
  border-radius: 0.3rem;
  text-align: center;
}

button:not([disabled]):hover {
  background-color: #555;
  cursor: pointer;
}

button[disabled] {
  color: #ccc;
}

button.small {
  padding: 0.2rem 0.5rem;
}

button.middle {
  padding: 0.2rem 1rem;
}

button.large {
  padding: 0.2rem 2rem;
}

button.process {
  background-color: #88ffcc;
  color: #333;
}

button.process[disabled] {
  color: #888;
}

button.process:not([disabled]):hover {
  background-color: #33ddaa;
}

.iconify.nav {
  transform: translateY(4px);
  font-size: 1.2rem;
}

.iconify.title {
  transform: translateY(4px);
  font-size: 1.4rem;
}

.iconify.button {
  font-size: 1.4rem;
}

.iconify.button:hover {
  cursor: pointer;
}

.iconify.button.red {
  color: #ff3333;
}

.iconify.button.red:hover {
  color: #bb3333;
}

.input-area {
  width: 100%;
}

.input-area .row {
  display: flex;
  align-items: center;
}

.input-area .row:nth-child(n + 2) {
  margin-top: 0.2rem;
}

.input-area label {
  width: 20%;
  margin-right: 1rem;
  padding: 0.2rem 1rem;
  background-color: #bbbbff;
  font-size: 0.9rem;
}

.input-area input {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
}

.input-area input.small {
  width: 5rem;
}

.input-area input.large {
  width: 20rem;
}

// Utility
.mt-xs {
  margin-top: 0.2rem;
}

.mt-s {
  martin-top: 0.5rem;
}

.mt-m {
  margin-top: 1rem;
}

.mt-l {
  margin-top: 2rem;
}

.ml-xs {
  margin-left: 0.2rem;
}

.ml-s {
  martin-left: 0.5rem;
}

.ml-m {
  margin-left: 1rem;
}

.ml-l {
  margin-left: 2rem;
}

.width-100 {
  width: 100%;
}

.ta-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-jc-start {
  justify-content: start;
}

.flex-jc-end {
  justify-content: end;
}

.flex-jc-center {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-sa {
  justify-content: space-around;
}
